<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" media="screen"/>
</head>
<body>
<h1>Szczegóły builda</h1>

<table>
    <thead>
    <tr>
        <th>Nazwa</th>
        <th>Status</th>
        <th>Data aktualizacji</th>
        <th>Czas trwania</th>
        <th>Szczegóły</th>
        <th>Punkty</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="spec : ${specs}">
        <td th:text="${spec.testName}"></td>
        <td th:text="${spec.stateType}"></td>
        <td th:text="${spec.dateTime}"></td>
        <td th:text="${spec.duration} ? ${spec.duration} : ''"></td>
        <td th:text="${spec.message} ? ${spec.message} : ''"></td>
        <td th:text="${spec.points}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>