<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" media="screen"/>
</head>
<body>
<h1 th:text="${title}"></h1>

<h4><a href="/">Najlepsze w każdym repo</a></h4>
<h4><a href="/top100">Top 100</a></h4>

<table>
    <thead>
    <tr>
        <th>Punkty</th>
        <th>Repozytorium</th>
        <th>Status</th>
        <th>Data aktualizacji</th>
        <th>Czas trwania</th>
        <th>Szczegóły</th>
        <th>Passed specs</th>
        <th>Failed specs</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="suite : ${suits}">
        <td th:text="${suite.points}"></td>
        <td><a th:text="${suite.repository}" th:href="@{'/suite?repositoryId=' + ${suite.repository}}"></a></td>
        <td th:text="${suite.state}"></td>
        <td th:text="${suite.dateTime}"></td>
        <td th:text="${suite.duration}"></td>
        <td><a th:href="@{'/specs?id=' + ${suite.suiteId}}">Pokaż szczegóły</a></td>
        <td th:text="${suite.passed} ? ${suite.passed} : ''"></td>
        <td th:text="${suite.failed} ? ${suite.failed} : ''"></td>
    </tr>
    </tbody>
</table>

</body>
</html>